.header {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 34px 32px 0;
  background-color: var(--color-bg-primary);
  position: sticky;
  top: 0;
  z-index: 10;
  max-width: 1440px;
  margin: 0 auto;
}

.header__logo {
  width: 32px;
  height: 32px;
}

.header h1 {
  font-size: 30px;
  font-weight: 600;
  color: var(--color-text-primary);
}

.header p {
  font-size: 14px;
  color: var(--color-text-secondary);
}

@media (max-width: 1441px) {
  .header {
    max-width: 972px;
  }
}

@media (max-width: 972px) {
  .header {
    max-width: 502px;
  }
}
